*.py[co]
*~
build/
.idea/
symp-client/
subsystem/logs


integration/all
bin
src/github.com
src/golang.org
src/gopkg.in/
src/sourcegraph.com/

coverage.out

*.iml
*.swp
.vimrc
__pycache__

.pylint.d
*.db